<% provide(:title, @quest.name) %>

<h1><%= @quest.name %></h1>

<p><%= simple_format @quest.description %></p>

<div class="container">
  <ul class="setup_links center">
    <li><%= link_to "Back", quests_path %></li>
    <% if current_user.player.accepted?(@quest) %>
      <li><td id="accepted">Accepted</td></li>
    <% else %>
      <li><%= link_to "Accept", quests_accept_path(@quest[:id]) %></li>
      <li><%= link_to "Decline", quests_path %></li>
    <% end %>
  </ul>
</div>