<% provide(:title, @quest.name) %>

<h1><%= @quest.name %></h1>

<p><%= simple_format @quest.description %></p>

<div class="container">
  <ul class="setup_links center">
    <li><%= link_to "Back", quests_path %></li>
    <% if current_user.player.accepted?(@quest) %>
      <% if current_player.completed?(@quest) %>
        <%= form_for(current_player) do |f| %>
          <%= f.hidden_field :quest, value: @quest.id %>
          <%= f.object.items, value: @quest.rewards[:items] %>
          <!--<% @quest.rewards[:items].each do |key, value| %>-->
          <!--  <%= f.hidden_field "items[#{key}]", value: value %>-->
          <!--<% end %>-->
          <% @quest.rewards[:stats].each do |key, value| %>
            <%= f.hidden_field key, value: value %>
          <% end %>
          <td><%= f.submit "Turn in", class: "btn btn-primary" %></td>
        <% end %>
      <% else %>
        <li><td id="accepted">Accepted</td></li>
      <% end %>
    <% else %>
      <li><%= link_to "Accept", quests_accept_path(@quest[:id]) %></li>
      <li><%= link_to "Decline", quests_path %></li>
    <% end %>
  </ul>
</div>