<% provide(:title, @quest.name) %>

<h1><%= @quest.name %></h1>

<p><%= @quest.description %></p>

<%= link_to "Back", :back %>
<% if !current_user.player.quest_acceptances.find_by(quest_id: @quest[:id]) %>
  <%= link_to "Accept", quests_accept_path(@quest[:id]) %>
  <%= link_to "Decline", :back %>
<% else %>
  <td id="accepted">Accepted</td>
<% end %>