<% provide(:title, @quest.name) %>

<h1><%= @quest.name %></h1>

<center>
  <% if current_user.admin? %>
    <p><%= link_to "Edit", edit_quest_path(@quest) %></p>
    <p>
      <%= link_to "Delete", @quest, method: :delete,
              data: { confirm: "As an Admin, are you sure you want to delete this quest?" } %>
    </p>
  <% end %>
</center>

<p><%= simple_format @quest.description %></p>

<div class="container">
  <ul class="setup_links center">
      <%= form_for(current_player) do |f| %>
        <%= f.hidden_field :quest, value: @quest.id %>
        <h2>Rewards:</h2>
        <% @quest.rewards[:items].each do |key, value| %>
          <%= simple_format(pluralize(value, key.to_s) + "\n") %>
          <%= f.hidden_field "items[#{key}]", value: value %>
        <% end %>
        <% @quest.rewards[:stats].each do |key, value| %>
          <%= simple_format(value.to_s + " " + key.to_s + "\n") %>
          <%= f.hidden_field key, value: value %>
        <% end %>
        
        <li><%= link_to "Back", quests_path %></li>
        <% if current_user.player.accepted?(@quest) %>
          <% if current_player.completed?(@quest) %>
            <% if current_player.turned_in?(@quest) %>
              <li>Turned in</li>
            <% else %>
              <td><%= f.submit "Turn in", class: "btn btn-primary", id: "shop" %></td>
            <% end %>
          <% else %>
            <li><td id="accepted">Accepted</td></li>
          <% end %>
        <% else %>
          <li><%= link_to "Accept", quests_accept_path(@quest[:id]) %></li>
          <li><%= link_to "Decline", quests_path %></li>
        <% end %>
        
      <% end %>
  </ul>
</div>