<% provide(:title, 'Hub') %>
<!-- Using gmaps4rails for the map, geo_ip for user_location -->
<h1>Hub</h1>
<center><%= link_to "Start Game!", game_path, action: 'get', class: "button button2"%></center>

<div class="container">
  <div class="col-md-6">
    <%= render partial: 'shared/player_info', locals: { player: current_player } %>
  </div>
  
  <div class="col-md-3">
    <h2>Items</h2>
    <center>
      <% current_player.items.each do |item, amount| %>
        <%= link_to simple_format(pluralize(amount, item.to_s) + "\n"), item_path(item) %>
      <% end %>
    </center>
  </div>
  
  <div class="col-md-3">
    <h2>Skills</h2>
    <center>
      <% current_player.skills.each do |skill| %>
        <%= link_to simple_format(skill + "\n"), skill_path(skill) %>
      <% end %>
    </center>
  </div>
</div>

<center>
  <div class="container">
    <ul class="setup_links center">
      <li><%= link_to "World Map", places_path %></li>
      <li><%= link_to "Quests", quests_path %></li>
      <li><%= link_to "Shop", items_path %></li>
    </ul>
  </div>

</center>