<% provide(:title, 'Hub') %>
<!-- Using gmaps4rails for the map, geo_ip for user_location -->
<center>
  
<h1><strong>You Are In: </strong>
  <%= @user_location[:country_name] %></h1>
  <br>
  <%= link_to "Start Game!", game_path, action: 'get', :class=>"button button2"%>
<div class="container">
  <ul class="setup_links center">
    <li><%= link_to "World Map", places_path %></li>
    <li><%= link_to "Quests", quests_path %></li>
    <li><%= link_to "Shop", items_path %></li>
  </ul>
</div>

</center>