<% provide(:title, 'Rankings') %>
<h1>Rankings</h1>

<%= will_paginate %>
<%- page = params[:page].to_i%>

<!-- Unfinished. Haven't made a way to determine rankings -->
<table class="users">
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td class="num center"><%= page > 1 ? i + (((page - 1) * @PER_PAGE) + 1) : i + 1 %></td>
      <td>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.username, user %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>