<% provide(:title, 'Rankings') %>
<h1>Rankings</h1>

<%= will_paginate %>
<%- page = params[:page].to_i%> <!-- Grab the page number -->

<!-- Unfinished. Haven't made a way to determine rankings -->
<table class="users">
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td class="num center"><%= page > 1 ? i + (((page - 1) * User.per_page) + 1) : i + 1 %></td>
      <td>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.username, user %>
        <% if current_user && current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>