<% provide(:title, params[:name]) %>
<%= render 'shared/shop_header' %>

<h1><%= params[:name] %></h1>

<div class="container">
  <p><%= simple_format @skill["description"] %></p>
  
  <ul class="skill_links center">
    <p>Cost: <%= number_with_delimiter @skill["manaCost"] %> MP</p>
    <% if current_player.skills.include?(params[:name]) %>
      <p>Already Learned</p>
    <% else %>
      <p>Price: <%= number_with_delimiter @skill["price"] %> G</p>
      <%= form_for(current_player) do |f| %>
        <%= hidden_field_tag :price, @skill["price"] %>
        <%= hidden_field_tag :skill, params[:name] %>
        <li><%= f.submit "Buy", class: "btn btn-primary", id: "shop_individual" %></li>
      <% end %>
    <% end %>
  </ul>
  
  <%= link_to "Back", :back %>
</div>