<table class="player">
  <tr>
    <td>Health: <%= player.health %>/<%= player.max_health %></td>
    <td>Mana: <%= player.mana %>/<%= player.max_mana %></td>
  </tr>
  <tr>
    <td>Level: <%= player.level %></td>
    <td>Experience: <%= player.experience %>/<%= player.experience_to_next_level %></td>
  </tr>
  <tr>
    <td>Strength: <%= player.strength %></td>
    <td>Defense: <%= player.defense %></td>
  </tr>
  <tr>
    <td>Magic Power: <%= player.magic_power %></td>
    <td>Magic Defense: <%= player.magic_defense %></td>
  </tr>
  <tr>
    <td>Gold: <%= number_with_delimiter player.gold %></td>
    <td>Deaths: <%= player.deaths %></td>
  </tr>
</table>