<% provide(:title, params[:name]) %>
<h1><%= params[:name] %></h1>

<div class="container">
  <p><%= simple_format @item["description"] %></p>
  
  <ul class="item_links center">
    <p class="center">Gold: <%= @player.gold %></p>
    <p class="center">Price: <%= @item["price"] %> G</p>
    <%= form_for(@player) do |f| %>
      <%= hidden_field_tag :item_name, params[:name] %>
      <%= hidden_field_tag :gold, @item["price"] %>
      <li><%= f.label "Amount" %></li>
      <%= f.number_field :items, min: 1, value: 1, class: 'form-control', id: "item_amount" %>
      <li><%= f.submit "Buy", class: "btn btn-primary", id: "shop_individual" %></li>
    <% end %>
  </ul>
  
  <%= link_to "Back", items_path %>
</div>